body{
    background-color:whitesmoke;
}

#header{
    position:absolute;
    top:0%;
    height:max-content;
    width:100%;
    background-color: rgba(14,39,72,255);
}


img.logo{
    position:relative;
    left:5%;
    height: 50px;
    width: 100px;
    padding:1%;
    border-radius: 3%;
    background-color: white;
}

h1{
    position:absolute;
    font-size: 225%;
    left: 50%;
    transform: translateX(-50%);
    color:rgba(250,181,0,255);
    text-align: center;
}

img.sortie{
    position:relative;
    top: 5%;
    height:50x;
    width:50px;
    padding: 1%;
    border-radius: 5px;
    background-color: white;
}

#main{
    position:absolute;
    top:20%;
    width: 100%;
    height: 80%;

}

button.redirect{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#liste{
    position: relative;
    top:30%;
    width:100%;
}

img.show{
    height:25px;
    width:25px;
}
.navbar{
    background-color:rgba(14,39,72,255) !important;
}
.nav-link{
    border-width: 0;
    background-color: rgba(14,39,72,255) !important;
}
