body{
    background-color:whitesmoke;
}

h1{
    margin: 0 0 10px;
    background-color: rgba(14,39,72,255);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    color:rgba(250,181,0,255);
}

p.space{
    height: 1px;
}

input {
	display: block;
    left:2%;
	  width: 95%;
    height: 40px;
    margin: 0 0 10px;
	padding: 2px;
	border: 1px solid rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
	border-radius: 3px;
	font-size: 14px;
	&:invalid:not(:focus) {
		border-color: red;
	}
}

button{
  display: block;
	width: 100%;
	padding: 2px auto;
	background-color: green;
	color:white;
	border: 1px solid green;
	border-radius: 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}


#messageAttention{
    margin: 0 0 10px;
    background-color: firebrick;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


div.erreur{
    font-size: 14px;
    font-weight: bold;
    color: red;
}

#centrage{
    position:absolute;
    top:100px;
    left:50%;
    transform: translateX(-50%);
    width: 400px;
}

#erreur{
    font-size:14px;
    font-weight: bold;
    color:red;
}