.return-btn {
  background-color: #FFD200;
  border: none;
  border-radius: 6px;
  padding: 2px;
  margin-right: 12px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-btn:hover {
  background-color: #ffea70;
  cursor: pointer;
}

.return-img {
  height: 16px;
  width: 16px;
  display: block;
}

.logo {
  height: 28px;
  width: auto;
  display: block;
}

.sortie {
  height: 28px;
  width: auto;
  display: block;
}
