div.main{
    height: 100%;
    width: 100%;
    background-color: rgba(14,39,72,255);
}

p.texteAttente{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgba(250,181,0,255);
    font-size: 20px;
    font-weight: bold;
}