img.icon{
    height:25px;
    width:25px;
}
button.edit{
    padding: 5px;
    border-color: rgba(128,128,128,.5);
    border-radius: 5px;
}
#export{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 174, 0) !important;
    color: white;    
}
#allDossiers{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 0, 174) !important;
    color: white;    
}
