img.show{
    height:25px;
    width:25px;
}

.export{
    position:absolute;
    font-size: 150%;
    left: 50%;
    padding:5px;
    transform: translateX(-50%);
    text-align: center;
    border-width: 2px;
    border-style:solid;
    border-radius:10px;
    border-color: grey;
    box-shadow: 6px 6px 6px lightgrey;
}

