div.main{
    top:15%;
}

th{
    width:450px;
}

button.Enregistrer{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

button.Confirmer{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 174, 0);
    color: white;
}

button.Import{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(79, 112, 255);
    color: white;
}
button.Supprimer{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
}

button.EnvoiMails{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white;
}

img.icon{
    height:20px;
    width:20px;
}
img.avion{
    height:20px;
    width:20px;
}
img.import{
    height:20px;
    width:20px;
}

img.mails{
    height:20px;
    width:20px;
}
