div.main{
    top:15%;
}

h2{
    padding: 20px;
    background-color: rgba(14,39,72,255);
    color: rgba(250,181,0,255);
    font-weight: bold;
    border-radius: 2px;
}

input{
    position:relative;
    width: inherit;
    padding: 5px;
    background: whitesmoke;
    border: 2px solid rgba(0,0,0,.15);
    box-shadow: 0 5px 10px rgba(0,0,0,.1) inset;
    border-radius: 5px;
    font-size:15px;
    color:rgb(86, 86, 86);

}

textarea{
    position:relative;
    width: inherit;
    padding: 5px;
    background: whitesmoke;
    border: 2px solid rgba(0,0,0,.15);
    box-shadow: 0 5px 10px rgba(0,0,0,.1) inset;
    border-radius: 5px;
    font-size:15px;
    color:rgb(86, 86, 86);

}

select{
    position:relative;
    width: inherit;
    padding: 5px;
    background: whitesmoke;
    border: 2px solid rgba(0,0,0,.15);
    box-shadow: 0 5px 10px rgba(0,0,0,.1) inset;
    border-radius: 5px;
    font-size:15px;
    color:rgb(86, 86, 86);

}

input.infoSupplementaires{
    height: 300px;
    width: 100%;
    text-align: left;

}

button.Enregistrer{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

button.Confirmer{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0, 174, 0);
    color: white;
}

img.icon{
    height:20px;
    width:20px;
}
img.avion{
    height:20px;
    width:20px;
}
.navbar{
    background-color:rgba(14,39,72,255) !important;
}
.nav-link{
    border-width: 0;
    background-color: rgba(14,39,72,255) !important;
}
h1{
    position:absolute;
    font-size: 225%;
    left: 50%;
    transform: translateX(-50%);
    color:rgba(250,181,0,255);
    text-align: center;
    font-weight: bold !important;
}